<!-- <app-top-navigation></app-top-navigation>



<router-outlet></router-outlet>

   -->
   <div class="container">
    <h1>Welcome</h1>
    <div class="link-container">
        
            
        <a routerLink="/top-navigation" class="link1">Vendor Operations</a>
        <a routerLink="/invoice-operation" class="link2">Invoice Operations</a>
        <a routerLink="/top-three-navigation" class="link3">Currency Operations</a>
        
    </div>
    <router-outlet></router-outlet>
    <!-- <app-top-navigation *ngIf="showTopNavigation"></app-top-navigation> -->
</div>

